
<div class="about-block">
	<p>История WOMAN берёт своё начало в BBR — самой крупной компании по индивидуальному пошиву обуви в России. В далеком 1989 году Василий Юдин открыл небольшую обувную мастерскую, которая позже стала оптовым производством...</p><a href="https://www.bbrfactory.com/history" target="_blank">Читать о BBR</a>
</div>

<div class="about-block">
	<p>К созданию отдельного бренда, нас подтолкнули сами женщины, недовольные женской обувью в магазинах. Ситуация почти всегда одинаковая: “Мне нравятся вот эти, но они не по размеру, другие подходят хорошо, но они мне не нравятся внешне”.</p>
	<p>Решение основной проблемы достаточное простое: индивидуальный пошив. С ног снимаются мерки (они даже могут быть разными) и уже по ним делается обувь, учитывая все индивидуальные особенности.</p>
</div>

<div class="about-block">
	<p>В отличие от магазинов, в WOMAN можно практически всё. Более 200 натуральных кож и других материалов для каждой модели. Цвет ниток, шнурки, фурнитура на выбор. У каждой модели можно выбрать подкладку: натуральная кожа, шерстяная байка, натуральный лен, или натуральный мех.</p>
	<p>Также есть возможность ручного окрашивания пары, создание неповторимых фактур, глянцевая полировка. Огромный простор возможностей, а также опытные мастера, которые всегда готовы помочь определиться с выбором.</p>
</div>

<div class="about-block">
	<h2>Почему никто не делает обувь для женщин на заказ?</h2>
	<div class="poins-wrapper">
		<div>
			<div class="point-img">+5%</div>
			<p>Сложнее и затратнее в производстве</p>
			<a href="">Почему?</a>
		</div>
		<div>
			<div class="point-img">+5%</div>
			<p>На оформление заказа нужно больше времени</p>
			<a href="">Почему?</a>
		</div>
		<div>
			<div class="point-img">+5%</div>
			<p>Мужчинам проще делать мужскую обувь</p>
			<a href="">Почему?</a>
		</div>
	</div>
</div>

<div class="about-block">
	<h2>Женская обувь должна украшать ногу.</h2>
	<p>Каждая модель задумана и разработана под определенный стиль и условия носки, имеет философию отличную от другой, а не просто занимает место в каталоге.</p>
</div>

<div class="about-block">
	<h2>Обувь должна быть удобной и натуральной.</h2>
	<p>Мы производим обувь не для того, чтобы продать ее на экспорт в другую страну. Мы производим обувь для своих жен, дочерей, мам и подруг. Знаем как сделать хорошо и на совесть, и делаем.</p>
</div>

<div class="about-block">
	<h2>Работа с клиентом не заканчивается.</h2>
	<p>Мы должны убедиться что обувь вам подходит. Можем доработать пару, пока вы ее не начали носить - посадка по ноге, растяжка, размягчение.</p>
</div>

<div class="about-block">
	<p>В 2015 году была придумана концепция бренда, 4 года потребовалось, чтобы создать образцы, отработать их, определиться с материалами. И вот наконец, мы представляем вам WOMAN.</p>
	<p>Спасибо, что вы есть. Вы прекрасны.</p>
</div>
